[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/github.com/golang/mock"]
	path = vendor/github.com/golang/mock
	url = https://github.com/golang/mock
[submodule "vendor/github.com/kardianos/osext"]
	path = vendor/github.com/kardianos/osext
	url = https://github.com/kardianos/osext
[submodule "vendor/github.com/hashicorp/go-version"]
	path = vendor/github.com/hashicorp/go-version
	url = https://github.com/hashicorp/go-version
[submodule "vendor/code.cloudfoundry.org/cli"]
	path = vendor/code.cloudfoundry.org/cli
	url = https://github.com/cloudfoundry/cli
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/sclevine/docker
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "vendor/github.com/fatih/color"]
	path = vendor/github.com/fatih/color
	url = https://github.com/fatih/color
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/github.com/opencontainers/runc"]
	path = vendor/github.com/opencontainers/runc
	url = https://github.com/docker/runc
[submodule "vendor/github.com/Microsoft/go-winio"]
	path = vendor/github.com/Microsoft/go-winio
	url = https://github.com/Microsoft/go-winio
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = http://github.com/golang/sys
[submodule "vendor/github.com/go-fsnotify/fsnotify"]
	path = vendor/github.com/fsnotify/fsnotify
	url = https://github.com/go-fsnotify/fsnotify
[submodule "vendor/github.com/fsnotify/fsevents"]
	path = vendor/github.com/fsnotify/fsevents
	url = https://github.com/fsnotify/fsevents
